<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "kt.resworbsffeb"
    version     = "1.3.0" >
    
<platform name="android" />
<!--<platform name="winphone" />-->

<!-- versionCode is optional and Android only -->

  <name>SpeedTest</name>

  <description>
  A Utility to test internet speed. 
  </description>

  <author href="https://beffsbrowser.tk" email="#">
Jeffrey Crowder (A BeffsBrowser Project)
  </author>
    <!--<plugin name="cordova-plugin-whitelist" spec="~1.3.0" />-->
<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.6" source="npm" />

<!-- Recommend the newest cli but requires cli-5.1.1+ and gradle for Android. -->
<!-- If the below settings are not compatible with your project set the "PGB ANT" version above. -->
<preference name="phonegap-version" value="cli-6.3.0" />
<preference name="android-build-tool" value="gradle" />

<!-- Window Phone 8.1 builds must use cli-6.1.0+ above 
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />-->
    
    
 <!--    <access origin="https://jdc20181.github.io" />
    <access origin="https://l2.io"/>
    <access origin="https://cdnjs.cloudflare.com" />
    <content src="index.html"></content>-->
</widget>
