p {
    color: Blue;
    text-align: Left;
}
h1 {
    color: Black;
    text-align: center;
}
h2 {
    color: Black;
    text-align: center;
}
h3 {
    color: Black;
    text-align: center;
}
h4 {
    color: Black;
    text-align: center;
}
Body {
    color: Blue;
    text-align: Left;
}
