 
 .bodystyle{
     background-color:	#4169E1;
   }
   a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
.heading{
  background-color:	#6495ED;
}
.h1{
 text-align:center;
}
.h2{
 text-align:center;
}
