body{
    margin:0;
}
a{
    text-decoration:none;
}
a.active{
    text-decoration:none;
}
table, th, td {
    border: 1px solid black;
    float: center;
}
ul{
    list-style: none;
}
.p{
 text-align:center;
}
.uniquename{
 font-size:40px;
 font-weight:bold;
}
html{
    background-color:#87CEFA;
    margin:0;
}
.bar{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width:100%;
    }
    .mobile{
    background-color:	#87CEFA;
    text-align:center;
    }
     a.collapse:link, a.collapse:visited{
    background-color:#f3f3f3;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   }
   a.collapse:hover, a.collapse:active {
    background-color:#f3f3f3;
}
   a.button:link, a.button:visited {
    background-color:#f3f3f3;
    color:black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.button:hover, a.button:active {
    background-color: 	#f3f3f3;
}
.h1{
 text-align:center;
}
.h2{
 text-align:center;
}
 .refreshbutton {
    background-color:#f3f3f3; 
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.h3{
 text-align:center;
}
.h4{
 text-align:;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
