footer{
        background-color:#333;
        color:white;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        Text-align:center;
}

a:link {
text-decoration:none;
    color:white
        }

/* visited link */
a:visited {
text-decoration:none;
    color:white
}

/* mouse over link */
a:hover {
text-decoration:none;
   color:white;
}

/* selected link */
a:active {
text-decoration:none;
   color:white
}
table, th, td {
    border: 1px solid black;
    float: center;
}
ul{
    list-style: none;
}
.p{
 text-align:center;
}
.uniquename{
 font-size:40px;
 font-weight:bold;
}
 .embed{
  background-color:white;
 }
 .bodystyle{
     background-color: #333; /*#35A89A;*/ /*#e25822;  */ /*#333;	/*#00FA9A;*/ /* #f50057*/
     text-align:center;
     float:center;
     /*color:#008000;*/
     color:white;
     font-size:15px;
   }
   a.collapse:link, a.collapse:visited{
    background-color:#1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   }
   a.collapse:hover, a.collapse:active {
    background-color: #1E90FF; /*#2A867B;*/ /*#1E90FF;*/
}
   a.button:link, a.button:visited {
    background-color: #1E90FF;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


a.button:hover, a.button:active {
    background-color: #1E90FF;
    
}
.heading{
  background-color:	#6495ED;
}
.h1{
 text-align:center;
}
.h2{
 text-align:center;
}
 .refreshbutton {
    background-color:#1E90FF; /*#2A867B;*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.h3{
 text-align:center;
}
.h4{
 text-align:;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.maintenance{
 background-color:	#FF4500;
 text-align:center;
}
.bodystyle2{
      background-color: #aad4e5;/*#A0522D was black #333*/
     text-align:center;
     float:center;
    color:#008000;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}
.isa_info {
    color: white;
    background-color: #1E90FF;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.close {
    float:right;
    display:inline-block;
    border: none;
    background: none;
    font-size: 14px;
}
.bodystyle3{
    background-color: #A0522D; /*was black #333*/
     text-align:center;
     float:center;
    color:white;
    font-weight:bold;
    font-size:24px;
}
.close:hover {
    
float:right;
    display:inline-block;
    border: none;
    background: none;
    font-size: 14px;
    background-color:white;
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #1E90FF; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.bar{
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #3f3f3f; /*#2A867B;*/	/*#3f3f3f;*/
    background-color:	#3f3f3f;       /*#2A867B;*/ /*#3f3f3f;*/
 
    }
.back{
   float:left;
   background-color: #3f3f3f; /*#2A867B;*/ /*#3f3f3f;*/
   color:white;
     border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.back:hover{
    color:white;
   background-color:#3f3f3f; /*#2A867B;*/ /*#3f3f3f;*/
     border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.fontbutton{
     border: 1px solid white;
     float:right;
}
 .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #333;
   /* background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}
.close2 {
    background: white;
    color: black;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close2:hover {
    background:	#333;
    color:white;
}
.disabled{
     cursor: not-allowed;
     opacity: 0.6;
}
/* Beta CSS */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;	
  border-radius: 50%;
  border-top: 16px solid #e25822; /*#35A89A; */ /*#1E90FF;*/
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
body{
     margin: 0 0 0 0;
}
 @media  (max-width: 524px) {
.notify{
    visibility:hidden;
}
