//Warning: Some of the following css is part of the Beta Version. NOT FOR PRODUCTION USE.

.bodystyle{
     background-color:#aad4e5;/*#A0522D #FF6347;*/
     text-align:center;
     float:center;
     color:#008000;
   }
.refreshbutton {
    background-color:	#32CD32; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container{
  border-radius:70%;
    background-color:#aad4e5;/*#A0522D #FF6347;*/
     text-align:center;
     float:center;
     color:#008000;
}
   
